<h2> National COVID-19 Statistics</h2>

<p>Confirmed Cases: <span>{{totalCases}}</span></p>
<p>Total Deaths: <span>{{totalDeaths}}</span></p>

<p>Total Vaccinations: <span>{{Vaccination.totalAdministered}}</span></p>

<p>Induviduals with 2 doses: <span>{{Vaccination.atLeastTwoDoses}}</span></p>

<p>Induviduals Per 100K that are fully Vaccinated: <span>{{Vaccination.atLeastTwoDosesPer100k}}</span></p>