<h2> National COVID-19 Statistics</h2>

<p>Confirmed Cases <span>{{Stats.totalCases}}</span></p>
<p>Total Deaths: <span>{{Stats.totalDeaths}}</span></p>

<p>Total Vaccinations: <span>{{Stats.totalAdministered}}</span></p>

<p>People With At Least One Dose: <span>{{Stats.atLeastOneDose}}</span></p>

<p>Percentage of People Who Are Fully Vaccinated: <span>approx. {{Stats.atLeastTwoDosesPer100k}}</span></p>
