<h2> National COVID-19 Statistics</h2>

<p>Confirmed Cases <span>{{Stats.totalCases}}</span></p>
<p>Total Deaths: <span>{{Stats.totalDeaths}}</span></p>

<p>Total Vaccinations: <span>{{Stats.totalAdministered}}</span></p>

<p>People with 2 doses: <span>{{Stats.atLeastTwoDoses}}</span></p>

<p>Percentage of People Who have received at least 1 vaccination: <span>approx. {{Stats.atLeastTwoDosesPer100k}}</span></p>
