
<div class="container" style="pb-5 display:flex; flex-direction:column">
{{#each sites}}
  <div class="card">
<div class="card-body">
  <div class="card-header">{{this.title}}</div>
  <p id="address">{{this.houseNumber}} {{this.street}}</p>
  <p id="address">{{this.city}}, {{this.state}} {{this.postalCode}}</p>
  <br>
  <a href= "{{this.website}}" id="address">{{this.website}}</a>
</div>
  </div>
{{/each}}
<br><br><br>
<br>
</div>

 {{!-- <p>{{address.label}}</p> --}}
  {{!-- <p>Website: {{contacts.www.value}}</p>
  <hr> --}}