 <div class="state-options">
        {{!-- <div class="dropdown show">
          <a
            class="btn btn-secondary btn-lg dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          > --}}
            <h2> Select Your State </h2>
        


             <form>
         <select id = "stateList" name = "dropdown">
            
         </select>
      </form>

<h2>{{state}}</h2>
<p>Confirmed Cases {{totalCases}}</p>
<p>Total Deaths: {{totalDeaths}}</p>

<p>Total Vaccinations: {{Vaccination.totalAdministered}}</p>

<p>People with 2 doses: {{Vaccination.atLeastTwoDoses}}</p>

<p>NUmber of people Per 100K that are fully Vaccinated: {{Vaccination.atLeastTwoDosesPer100k}}</p>            
          </div>
        </div>
      </div>

