<div class="state-options">
      <h2><span>{{Stats.state}}</span></h2>
      <p>Confirmed Cases <span>{{Stats.totalCases}}</span></p>
      <p>Total Deaths: <span>{{Stats.totalDeaths}}</span></p>

      <p>Total Vaccinations: <span>{{Stats.totalAdministered}}</span></p>

      <p>People With At Least One Dose: <span>{{Stats.atLeastOneDose}}</span></p>

      <p>Percentage of People Who Are Fully Vaccinated: <span>approx. {{Stats.atLeastTwoDosesPer100k}}</span></p>
  <br>
  <br>
  <h3> Select Another State </h3>

      <form>
        <select id="stateList" name="dropdown">
          <option value=""> -- </option>

        </select>
      </form>
  </div>
